.main {
  margin-top: var(--header-height);
  width: 112rem;
}

.tempTopBar {
  width: 112rem;
  height: 3.1rem;
  align-items: center;
  justify-content: space-between;
}

.tempStudy1 {
  width: 112rem;
  height: 4.8rem;
  align-items: center;
  justify-content: space-between;
}
