.study-list__container {
  width: 1200px;
  height: auto;
  background-color: white;
  margin: 0 auto;
  border-radius: 12px;
  margin-top: 40px;
  padding: 40px;
  font-size: 24px;
  font-weight: 800;
  color: #414141;
  line-height: 28.64px;
}

.study-list__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.study-list__nav__search-container {
  position: relative;
  display: flex;
}

.study-list__nav__search {
  border: 1px solid #dddddd;
  border-radius: 15px;
  width: 335px;
  height: 42px;
  padding-left: 48px;

  color: #818181;
  line-height: 19.09px;
  font-weight: 400;
}

.study-list__nav__search-icon {
  position: absolute;
  left: 20.94px;
  top: 11.5px;
  width: 18px;
  height: 18px;
}

input::placeholder {
  color: #818181;
  line-height: 19.09px;
  font-weight: 400;
}

/*드롭다운*/
.study-list__nav__dropdown {
  width: 180px;
  height: 42px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  color: #818181;
  line-height: 19.09px;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.study-list__nav__dropdown {
  position: relative;
  cursor: pointer;
}

.dropdownBtn {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
  position: absolute;
  top: 7.5px;
  right: 20px;
}

.dropdownBtn.rotate {
  transform: rotate(180deg);
}

.study-list__nav__dropdown-box {
  border: 1px solid #dddddd;
  border-radius: 15px;
  background-color: white;
  width: 180px;
  height: 166px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  text-align: center;
}

.order {
  height: 42px;
  margin-top: 12px;
  width: 100%;
  cursor: pointer;
}

.order.recent,
.order.oldest,
.order.most-point {
  border-bottom: 1px solid #dddddd;
}

input:focus {
  outline: 1px solid #99c08e;
}

.study-list__grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.study-list__view-more {
  width: 280px;
  height: 53px;
  border-radius: 20px;
  border: 1px solid #dddddd;
  margin: 60px auto 0;
  color: #578246;
  line-height: 19.09px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
