emoji {
  width: 24rem;
  height: 3.1rem;
  background-color: aquamarine;
}

.emoji__btn-add {
  width: 6.7rem;
  height: 3.1rem;
  background-image: url("../../../../assets/images/btn_add_emoji.svg");
}
