.modal {
  width: 64.8rem;
  height: 36.9rem;
  margin: auto;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 2em;
  border-color: white;
  background-color: white;
  position: relative;
  overflow: visible;
}

.modal__content {
  width: 60rem;
  margin: 0 auto;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
}

.modal__studyname {
  margin: 0 auto;
  color: var(--arsenic);
}

.modal__message {
  margin-top: 2.8rem;
  color: var(--gray);
}

.modal__password {
  width: 100%;
  margin-top: 2.8rem;
}

.modal__password-label {
  color: var(--arsenic);
}

.modal__password-inputset {
  margin-top: 1.6rem;
  position: relative;
}

.modal__password-input {
  width: 60rem;
  height: 4.8rem;
  box-sizing: border-box;
  border: 0.1rem solid;
  border-color: var(--gainsboro);
  border-radius: 0.9375em;
  padding-left: 1.2rem;
}

.modal__password-input-visible-on {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translateY(-50%);
  border: none;
  background-image: url("../../../../assets/images/btn_visibility_on.svg");
}

.modal__password-input-visible-off {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translateY(-50%);
  border: none;
  background-image: url("../../../../assets/images/btn_visibility_off.svg");
}

.modal__btn-confirm {
  margin-top: 4rem;
  width: 60rem;
  height: 5.8rem;
  background-image: url("../../../../assets/images/btn_confirm.svg");
}

.modal__btn-edit {
  margin-top: 4rem;
  width: 60rem;
  height: 5.8rem;
  background-image: url("../../../../assets/images/btn_toEdit.svg");
}

.modal__btn-habit {
  margin-top: 4rem;
  width: 60rem;
  height: 5.8rem;
  background-image: url("../../../../assets/images/btn_toHabit.svg");
}

.modal__btn-concentration {
  margin-top: 4rem;
  width: 60rem;
  height: 5.8rem;
  background-image: url("../../../../assets/images/btn_toConcentration.svg");
}

.modal__warning {
  width: 42.1rem;
  height: 4.7rem;
  margin: 13rem auto;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 1.2em;
  border-color: var(--piggy-pink);
  background-color: var(--piggy-pink);
  align-items: center;
  justify-content: center;
}

.modal__warning-text {
  color: var(--vivid-red);
}

.modal__btn-close {
  width: 6rem;
  height: 2.9rem;
  position: absolute;
  top: 4rem;
  right: 2.4rem;
  color: var(--fern-green);
  cursor: pointer;
}
