.modal {
  width: 64.8rem;
  height: 36.9rem;
  margin: auto;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 2em;
  border-color: white;
  background-color: white;
  position: relative;
}

.modal__studyname {
  margin-top: 4rem;
  justify-self: center;
}

.modal__message {
  margin: 0 auto;
  margin-top: 2.8rem;
}

.modal__password {
  width: 60rem;
}

.modal__btn-confirm {
  width: 60rem;
  height: 5.8rem;
  background-image: url("../../../../assets/images/btn_confirm.svg");
}

.modal__btn-edit {
  width: 60rem;
  height: 5.8rem;
  background-image: url("../../../../assets/images/btn_toEdit.svg");
}

.modal__btn-habit {
  background-image: url("../../../../assets/images/btn_toHabit.svg");
}

.modal__btn-concentration {
  background-image: url("../../../../assets/images/btn_toConcentration.svg");
}

.modal__warning {
  width: 42.1rem;
  height: 4.7rem;
  margin: 1rem auto;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 1.2em;
  border-color: var(--piggy-pink);
  background-color: var(--piggy-pink);
  align-items: center;
  justify-content: center;
}

.modal__warning-text {
  color: var(--vivid-red);
}
