.point__description {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.19333em;
  color: var(--gray);
}

.point__point-block {
  box-sizing: border-box;
  width: 11.6rem;
  height: 3.5rem;
  margin-top: 0.8rem;

  border: 0.1rem solid;
  border-color: var(--gainsboro);
  border-radius: 5em;

  align-items: center;
  justify-content: center;
}

.point__point-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.193125em;
  color: var(--black);
}
