.recently-view__container {
  width: 1200px;
  height: 382px;
  background-color: white;
  margin: 0 auto;
  border-radius: 12px;
  margin-top: 40px;
  padding: 40px 38px 40px 40px;
  font-size: 24px;
  font-weight: 800;
  color: #414141;
  line-height: 28.64px;
}

.recently-view__list {
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

.study-card {
  text-decoration: none;
}
