html {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  font-family: "Pretendard";
}

*::placeholder {
  font-family: "Pretendard";
  color: var(--gray);
}

:root {
  --header-height: 10rem;
  /* 참고 : https://www.color-name.com/hex/414141 */
  --arsenic: #414141;
  --gray: #818181;
  --gainsboro: #dddddd;
  --bright-gray: #eeeeee;

  --isabelline: #f6f4ef;
  --dark-sea-green: #99c08e;

  --venetian-red: #c41013;
  --vivid-red: #f50e0e;
  --light-salmon-pink: #ffa3a5;

  --chinese-white: #e1edde;
  --blanced-almond: #fff1cc;
  --azureish-white: #e0f1f5;
  --piggy-pink: #fde0e9;

  --fern-green: #578246;
  --gold-foil: #c18e1b;
  --jelly-bean-blue: #418090;
  --pink-900: #bc3c6a;

  --raisin-black: #212121;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

main {
  margin: 0 auto;
}

body {
  background-color: var(--isabelline);
}

.font150 {
  font-size: 15rem;
  line-height: 1.19333em;
}

.font120 {
  font-size: 12rem;
  line-height: 1.19333em;
}

.font80 {
  font-size: 8rem;
  line-height: 1.19337em;
}

.font32 {
  font-size: 3.2rem;
  line-height: 1.19343em;
}

.font24 {
  font-size: 2.4rem;
  line-height: 1.19333em;
}

.font20 {
  font-size: 2rem;
  line-height: 1.1935em;
}

.font18 {
  font-size: 1.8rem;
  line-height: 1.19333em;
}

.font16 {
  font-size: 1.6rem;
  line-height: 1.19312em;
}

.font14 {
  font-size: 1.4rem;
  line-height: 1.19357em;
}

.font12 {
  font-size: 1.2rem;
  line-height: 1.19333em;
}

.font10 {
  font-size: 1rem;
  line-height: 1.19333em;
}

.extra-bold {
  font-weight: 800;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}
