@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.header__container {
  height: 100px;
  width: 100%;
  background-color: #f6f4ef;
  padding: 0 220px;
}

.header__btn-link {
  text-decoration: none;
}

.header__content {
  max-width: 1480px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header__btn {
  background-color: #99c08e;
  width: 252px;
  height: 58px;
  border-radius: 16px;
  padding: 16px;
  text-align: center;
  margin-top: 21px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 27.65px;
  font-family: EF_jejudoldam;
  text-decoration: none;

  box-sizing: border-box;
}

.header__logo {
  width: 181.6px;
  height: 60px;
  margin-top: 20px;
}

@media (max-width: 1279px) {
  .header__container {
    padding: 0 24px;
  }
}

@media (max-width: 768px) {
  .header__container {
    padding: 0 16px;
  }

  .header__logo {
    width: 106px;
    height: 35.02px;
    margin-top: 32px;
  }
}
