.create-study-form {
  width: 696px;
  height: auto;
  margin: 40px auto 0;
  background-color: white;
  /* padding: 24px 24px 40px; */
  border-radius: 20px;
}

.label {
  color: #414141;
}

.input.description {
  box-sizing: border-box;
  height: 98px;
  vertical-align: top;
  -ms-overflow-style: none;
  resize: none;
  padding-top: 1.5rem;
}

.description:focus {
  outline: 1px solid #99c08e;
}

.input.description .input.description::-webkit-scrollbar {
  display: none;
}

.label.title {
  max-width: 64.8rem;
  margin: 0 auto;
  margin-top: 6.4rem;
  font-size: 18px;
}

.form {
  margin: 0 auto;
  margin-top: 24px;
  max-width: 64.8rem;
}

/* textarea {

}

*/

.input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  margin-top: 16px;
  font-size: 16px;
  padding-left: 1.5rem;
  color: #818181;
  margin-bottom: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 24px;
}

.background {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 0;
}

.green {
  background-image: url("https://ifh.cc/g/zaNc6p.jpg");
}

.yellow {
  background-image: url("https://ifh.cc/g/QkXtRJ.jpg");
}

.blue {
  background-image: url("https://ifh.cc/g/Lc8rN9.jpg");
}

.pink {
  background-image: url("https://ifh.cc/g/3YoYNa.jpg");
}

.background.one {
  background-image: url("https://ifh.cc/g/m4hJV4.jpg");
  background-position: 72% 50%;
}

.background.two {
  background-image: url("https://ifh.cc/g/73YYHS.jpg");
  background-position: 72% 50%;
}

.background.three {
  background-image: url("https://ifh.cc/g/44BxpL.jpg");
  background-position: 72% 50%;
}

.background.four {
  background-image: url("https://ifh.cc/g/k9Gd8J.jpg");
  background-position: 24% 20%;
}

.background:focus {
  outline: none;
  filter: brightness(0.8);
  position: relative;
}

.selectedBtn {
  width: 32px;
  height: 32px;
  background-image: url("../../../../assets/images/ic_bg_selected.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-btn {
  border: none;
  width: 64.8rem;
  height: 58px;
  border-radius: 16px;
  color: WHITE;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.65px;
  font-family: EF_jejudoldam;
}

.create-btn:enabled {
  background-color: #99c08e;
  cursor: pointer;
}

.create-btn:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.input.valid {
  outline: 1px solid #99c08e;
}

.input.invalid {
  outline: 1px solid #f50e0e;
}

.error {
  color: #f50e0e;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
}

/* body {
  height: auto;
} */
/* #root {
  padding-bottom: 107px;
} */

.password-container {
  display: flex;
  position: relative;
}

.confirmPassword-container {
  display: flex;
  position: relative;
}

.password-toggle-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 12px;
  top: 27px;
}

.create-study__btn-create-frame {
  max-width: 64.8rem;
  margin: 0 auto;
  margin-top: 4rem;
}
